
a {
	cursor: pointer;
	color: white;
	text-decoration: none; 
}

a:hover {
	color: #EBFAEB;
	text-decoration: underline; 
}

#main-area, body {
	color: white;
	background-color: #4A4A4A;
	font-family: Geneva, Verdana, sans-serif;
	cursor: default;
}

#score-board {
	margin: auto;
	width: 20%;
	background-color: white;
	text-align: center;
	font-size: xx-large;
	border-radius: 20px;
}

#score-board > span {
	padding: 0px 10px;
}

#cross-score {
	font-style: Consolas;
	color: rgb(58, 154, 26);
}

#nut-score {
	font-style: Consolas;
	color: rgb(220, 160, 20);
}

#playgrid {
	background-color: black;
}

.cell {
	cursor: pointer;
	margin: 2px;
}

#show {
	margin: 10px 0px;
	text-align: center;
	font-size: x-large;
}

#again {
	background-color: white;
	cursor: pointer;
	width: 20%;

	color: #228B22;
	text-align: center;
	font-size: xx-large;
	border: 2px white solid;
	border-radius: 4%
}

hr {
	background-color: white;
}

.blockquote > p {
	text-decoration: underline;
}

footer {
	bottom: 0;
	left: 0;
}

.modal-content {
	color:black;
}